a{
    text-decoration: none;
    color: white;
  }
  a:hover, a:focus{
    color: blue;
  }
  .fa-stethoscope{
    font-size: 30px;
  }
  .fa-circle-user{
    padding: 5px; 
  }
  li{
    list-style-type: none;
    margin-right:10px;
    padding-right: 10px;
  }
  .fa-stethoscope{
    margin-left: 10px;
  }