<div class="container">
    <div class="card">
        <img class="card-img-top" src="../../assets/Medical-Services.jpg" alt="Card image" height="100%">
        <div class="card-img-overlay content">
            <h1 class="card-title">Medical Services</h1><hr><br>
           
        <h1>7 Important Primary Care Medical Services</h1>
        <p>A primary care doctor is someone who has received the necessary training that allows them to be the first point of contact when someone needs to see a healthcare professional. They are a health care professional who will make it a point to get to know you are a person, which helps them to assist you in your healthcare needs better. You should feel extremely comfortable discussing anything with your primary care doctor as your good health depends on it. When you choose to use the services of a primary doctor, you are doing your part when it comes to taking care of your overall good health.</p>
    <h2><strong>Primary care medical services</strong></h2>
    <p>A primary care medical practice is the first place a patient will contact when they require health care. A primary care doctor offers their patients primary care services like health maintenance, disease diagnosis and disease prevention as well as positive health advice for their overall health and preventive information. </p>  <br><br><br>
     <ul>
        <li>Preventive services</li>
        <p>Many primary care doctors provide health promotion education to help prevent illnesses or diseases.</p>
        <li>Proper disease diagnosis</li>
        <p>Primary care doctors can do physical exams or run lab tests to diagnose diseases or other illnesses.</p>
        <li>Ongoing care for common illnesses</li>
        <p>Primary care doctors can continue to see a patient to treat their illnesses and diseases once they are diagnosed.</p>
        <li>Caring for chronic conditions like diabetes and arthritis</li><p>Many primary care physicians work with other specialists when it comes to more severe conditions such as cancer or heart disease. However, the specialist will keep the primary care doctor updated so that they can continue to monitor their patient's condition.</p>
        <li>Annual checkups</li><p>A primary care doctor can complete yearly checkups, which are important, especially as we get older. They are also familiar with their patients' medical histories and will know what they are at a higher risk for.</p>
     </ul>
    </div>

        
      </div>
      </div>
