<div class="container">
    <div class="container">
        <div class="card">
            <img class="card-img-top" src="../../assets/Health-Care.jpg" alt="Card image" height="100%">
            <div class="card-img-overlay content">
                <h1 class="card-title">Health Care </h1><hr>
                <h1><strong>Healthcare in India</strong></h1>
                <p>India, a country recognized for its warm hospitality and the perfect blend of vibrant art and cultures, is also one of the most preferred countries for medical tourism.</p>
                <p>
                    The continuously increasing number of multi-specialty hospitals and technologically evolving medical assistance has led India to the list of one of the most favored places for health and medical tourism.
                </p>
                <p>Wondering why healthcare tourism in India is so highly spoken of on a global scale?</p>
                <p>Healthcare services in India are cost-effective. The low medical cost, alongside superior quality healthcare service, is what makes people from all around the world, fly to India for their treatment. Additionally, India excels with state of the art medical facilities, reputed health care professionals, quality nursing facilities and traditional healthcare therapies.</p>
</div>
</div>
</div>
</div>
